.studyList {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  padding: 0;
}

.bannerImg {
  width: 370px;
  height: 450px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.bannerImg:hover {
  transform: scale(1.02);
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .studyList {
    gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  .studyList {
    padding: 10px;
  }

  .bannerImg {
    display: none;
  }
}
