.inputList {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  list-style: none;
}

.listItem {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .inputList {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}
