.studyGrid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  row-gap: 24px;
  margin-top: 60px;
}

.contentWrapper {
  font-weight: 700;
  font-size: 20px;
}
.title {
  color: #717171;
  margin-right: 40px;
}

.content {
  color: #333333;
}

@media screen and (max-width: 768px) {
  .studyGrid {
    grid-template-columns: repeat(1, 6fr);
  }
}
