.navbar {
  display: flex;
  justify-content: space-between;
}

button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.loginElementWrapper {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.logo {
  margin-left: 2rem;
  width: 4.5rem;
  height: auto;
}

.login {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.postList {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.postRegister {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.user {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}
