.navbar {
  margin: auto;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 0 10px;
}

button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.loginElementWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo {
  width: 105px;
  height: 32px;
}

.login {
  font-weight: 600;
  font-size: 1.125rem;
}

.postRegister {
  font-weight: 600;
  font-size: 1.125rem;
}

.user {
  margin-right: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

@media screen and (max-width: 575px) {
  .navbar {
    height: 50px;
    padding: 0 20px;
  }

  .logo {
    width: 80px;
    height: auto;
  }

  .postRegister {
    display: none;
  }
  .loginElementWrapper {
    margin-right: 0;
  }
  .login {
    margin-right: 0;
  }
  .navbar {
    position: relative;
  }
}
