<div id="wrapper">
  <div id="portfolio-wrapper">
    <p>운영진 소개</p>
    <div id="portfolio" class="container">
      <div id="column1">
        <div class="title">
          <h2>리더 권혁일</h2>
        </div>
        <a href="#" class="image image-full"
          ><img src="images/pic02.jpg" alt=""
        /></a>
        <p>JK2B의 리더를 맡고있습니다. 항상 발전하는 개발자를 꿈꿉니다.</p>
        <a href="#" class="icon icon-arrow-right button">GO TO BLOG</a>
      </div>
      <div id="column2">
        <div class="title">
          <h2>Fusce ultrices</h2>
        </div>
        <a href="#" class="image image-full"
          ><img src="images/pic03.jpg" alt=""
        /></a>
        <p>
          Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis,
          cursus egestas at sem. Mauris quam enim, molestie.
        </p>
        <a href="#" class="icon icon-arrow-right button">Read More</a>
      </div>
      <div id="column3">
        <div class="title">
          <h2>Etiam posuere</h2>
        </div>
        <a href="#" class="image image-full"
          ><img src="images/pic04.jpg" alt=""
        /></a>
        <p>
          Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis,
          cursus egestas at sem. Mauris quam enim, molestie.
        </p>
        <a href="#" class="icon icon-arrow-right button">Read More</a>
      </div>
      <div id="column4">
        <div class="title">
          <h2>Mauris vulputate</h2>
        </div>
        <a href="#" class="image image-full"
          ><img src="images/pic05.jpg" alt=""
        /></a>
        <p>
          Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis,
          cursus egestas at sem. Mauris quam enim, molestie.
        </p>
        <a href="#" class="icon icon-arrow-right button">Read More</a>
      </div>
    </div>
  </div>
  <div id="page" class="container"></div>
</div>
