.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: left;
}
