@value registerBackground from '../../common/color.css';

.title {
  margin-top: 4rem;
  text-align: center;
  animation-duration: 3s;
  animation-name: opacityAnimation;
}

.buttonClose {
  font-weight: bold;
  color: white;
  border-radius: 4px;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.25rem;
  margin-top: 3rem;
  background-color: registerBackground;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
