.container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 34px;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 36px;
  background: #f5f5f5;
  position: relative;
}

.searchImg {
  display: block;
  width: 18px;
  height: 18px;
}

.searchInitialize {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}

.searchInput {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  .container {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 30px;
    border: 0.783px solid #ddd;
  }

  .searchImg {
    display: block;
    width: 16px;
    height: 16px;
  }

  .searchInput {
    font-size: 14px;
  }

  .searchInitialize {
    right: 18px;
    top: 8px;
  }
}
