.noticeWrapper {
  cursor: default;
  width: 360px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  right: 12px;
  top: 100%;
}

.noticeHeader {
  padding: 10px 16px;
  font-weight: 400;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0px;
  border-bottom: 1px solid #d7e2eb;
}

.noticeBody {
  list-style: none;
}

.noticeTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #d7e2eb;
  padding: 10px 16px;
}

.noticeTitle {
  font-weight: 500;
}

.noticeContent {
}

.anchor {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  text-decoration-line: underline;
  text-decoration-color: #4a5e75;
}
