.banner {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 2rem;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 45%;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 126.5%;
  letter-spacing: -0.005em;
  margin: 0;
  margin-bottom: 0.5rem;
}

.titleContent {
  display: block;
  word-break: keep-all;
}

.bannerImg {
  flex: 1 1 55%;
}

.subBanner {
  display: flex;
  align-items: center;
}

.subImg {
  width: 130px;
  height: auto;
}

.subtitle {
  font-size: 1.5rem;
}

.mainImg {
  width: 100%;
  padding: 1.5rem;
}

.weak {
  font-weight: 300;
  font-size: 2rem;
}

@media screen and (max-width: 1300px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }

  .mainImg {
    width: 80%;
    padding: 1.5rem;
  }

  .bannerImg {
    display: flex;
    justify-content: center;
  }

  .titleContent {
    display: inline;
  }

  .subBanner {
    margin: auto;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .bannerContent {
    text-align: center;
  }

  .titleContent {
    font-size: 2.375rem;
  }
  .weak {
    font-size: 1.75rem;
  }
  .subImg {
    width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    margin-top: 0rem;
    padding: 1rem;
  }

  .bannerContent {
    text-align: center;
  }

  .titleContent {
    font-size: 1.5rem;
  }
  .weak {
    display: none;
  }
  .subImg {
    display: none;
  }
  .subBanner {
    flex-direction: column;
  }

  .mainImg {
    padding: 0;
  }

  .title {
    margin: 0;
    line-height: 80%;
  }
}
