.slick-list {
  width: calc(100% - 40px);
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 30px;
}

@media screen and (max-width: 1300px) {
  .slick-list {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 980px) {
  .slick-list {
    max-width: 670px;
    margin: 0 auto;
    border-radius: 15px;
  }
}
