.bannerImage {
  width: 100%;
  height: auto;
}

.bannerLink {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.containerWrapper {
  border-radius: 30px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  margin: 0 auto;
}

.leftCover {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.rightCover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImage {
  width: 381px;
  height: auto;
}

.promotion {
  width: fit-content;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 50px;
  margin-bottom: 24px;
}

.title {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 15px 0;
  word-break: keep-all;
}

.subTitle {
  display: block;
  font-size: 20px;
}

.sequenceBadge {
  padding: 7px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.8);
  color: #555555;
  position: absolute;
  right: 30px;
  bottom: 25px;
  font-size: 14px;
  font-weight: 500;
}

.pagination {
  display: flex;
  gap: 10px;
}

.sequenceArea {
  gap: 10px;
  display: flex;
  align-items: center;
}

.arrows {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 980px) {
  .container {
    height: 280px;
  }
  .title {
    font-size: 20px;
  }

  .subTitle {
    font-size: 16px;
  }

  .coverImage {
    width: 280px;
    height: auto;
  }
}

@media screen and (max-width: 525px) {
  .promotion {
    font-weight: bold;
    padding: 4px 12px;
    font-size: 11px;
    border-radius: 50px;
    margin-bottom: 10px;
    width: fit-content;
  }

  .containerWrapper {
    border-radius: 16px;
  }

  .leftCover {
    padding: 0px 24px;
  }

  .rightCover {
    display: none;
  }

  .title {
    font-size: 18px;
    margin: 0;
  }

  .subTitle {
    margin-top: 4px;
    font-size: 14px;
  }

  .container {
    height: 160px;
  }

  .sequenceBadge {
    display: none;
  }
}
