.bannerLink {
  width: 100%;
  position: relative;
}

.containerWrapper {
  background-color: #47835e;
  color: #ffffff;
}

.container {
  display: flex;
  max-width: 1200px;
  height: 330px;
  padding: 0 20px;
  margin: 0 auto;
}

.leftCover {
  flex: 1;
  margin: auto 0;
}

.rightCover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImage {
  width: 233px;
  height: 244px;
}

.promotion {
  padding: 5px 30px;
  background: #bb7a46;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.title {
  margin-top: 28px;
  font-weight: 400;
  font-size: 32px;
  line-height: 126.5%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 7px;
}

.subTitle {
  font-weight: 3400;
  font-size: 18px;
  line-height: 126.5%;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.subText {
  font-weight: 300;
  font-size: 16px;
  line-height: 126.5%;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 24px;
  }

  .subTitle {
    font-size: 20px;
  }

  .rightCover {
    flex: 0;
  }

  .coverImage {
    width: 150px;
    height: 160px;
  }
}

@media screen and (max-width: 525px) {
  .rightCover {
    display: none;
  }

  .title {
    font-size: 20px;
    margin: 16px 0;
  }

  .subTitle {
    font-size: 16px;
  }

  .subText {
    margin-top: 4px;
    font-size: 14px;
  }

  .container {
    height: 240px;
  }
}
