.bannerLink {
  width: 100%;
  position: relative;
  color: black;
}

.containerWrapper {
  background-color: #d7edff;
  margin-bottom: 16px;
}

.container {
  display: flex;
  max-width: 1200px;
  height: 330px;
  padding: 0 20px;
  margin: 0 auto;
}

.leftCover {
  flex: 1;
  margin: auto 0;
}

.rightCover {
  flex: 1;
  margin: auto;
}

.coverImage {
  width: 470px;
  height: auto;
}

.title {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.subContainer {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.subTitle {
  font-size: 32px;
}

.subText {
  font-size: 22px;
  display: block;
}

.subImage {
  width: 82px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 28px;
  }
  .coverImage {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 820px) {
  .rightCover {
    flex: 0;
  }
  .coverImage {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 525px) {
  .rightCover {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .subTitle {
    font-size: 24px;
  }

  .container {
    height: 240px;
  }

  .subText {
    font-size: 16px;
  }

  .LogoWrapper {
    width: 180px;
  }

  .LogoWrapper img {
    width: 180px;
  }
}
