p {
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.studyItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 26px 26px 34px;
  width: 370px;
  height: 450px;
  background: #ffffff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.studyItem:hover {
  transform: scale(1.02);
}

.schedule {
  display: flex;
  font-size: 18px;
  gap: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.scheduleTitle {
  font-size: 18px;

  letter-spacing: -4%;
}

.title {
  font-size: 24px;
  min-height: 76px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 16px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.hashtag {
  display: flex;
  gap: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  min-height: 30px;
  margin-bottom: 40px;
}

.content {
  margin-bottom: 42px;
  padding: 0;
  display: flex;
  gap: 12px;
  list-style: none;
}

.language {
  width: 48px;
  height: 48px;
}

.languageImage {
  width: 48px;
  height: 48px;
}

.info {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  padding-top: 16px;
}

.viewsAndComment {
  display: flex;
  gap: 12px;
}

.infoItem {
  display: flex;
  align-items: center;
  color: #999999;
  gap: 6px;
}

.closed {
  opacity: 0.4;
}

.open {
  opacity: 1;
}

.closeNotice {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  color: white;
  background-color: black;
  border-radius: 4px;
}

@media screen and (max-width: 820px) {
  .studyItem {
    padding: 68px 40px 27px 30px;
    width: 356px;
    height: 430px;
  }

  .schedule {
    font-size: 18px;
    gap: 10px;
  }

  .title {
    font-size: 24px;
    min-height: 72px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 15px 0;
  }

  .hashtag {
    font-size: 18px;
    min-height: 23px;
    margin-bottom: 45px;
  }

  .content {
    margin-bottom: 49px;
    display: flex;
    gap: 10px;
    list-style: none;
  }

  .language {
    height: 42px;
  }

  .languageImage {
    width: 42px;
    height: 42px;
  }

  .info {
    font-size: 12px;

    padding-top: 10px;
  }

  .viewsAndComment {
    gap: 10px;
  }

  .infoItem {
    gap: 5px;
  }
}

@media screen and (max-width: 575px) {
  .studyItem {
    width: calc(100% - 2rem);
  }
}
