p {
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.studyItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 27px 27px 20px;
  width: 330px;
  height: 418px;
  background: #ffffff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.studyItem:hover {
  transform: scale(1.02);
}

.schedule {
  display: flex;
  font-size: 15px;
  gap: 8px;
  color: #999999;
  font-weight: 700;
  margin-top: 30px;
}

.scheduleTitle {
  letter-spacing: -4%;
}

.title {
  font-size: 20px;
  min-height: 56px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 8px 0 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.positionList{
  height: 22px;
  display: flex;
  gap: 3px;
}

.position{
  padding: 3px 10px;
  gap: 5px;
  height: 22px;
  background: #F2F4F8;
  border-radius: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px; 
  color: #3E86F5;
  
}

.hashtag {
  display: flex;
  gap: 5px;
  font-size: 18px;
  margin-top: 20px;
  color: #676767;
  font-size: 14px;
  min-height: 30px;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.language {
  width: 32px;
  height: 32px;
}

.languageImage {
  width: 32px;
  height: 32px;
}

.info {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  letter-spacing: -0.04em;
  padding-top: 13px;
}

.userInfo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.viewsAndComment {
  display: flex;
  gap: 10px;
}

.infoItem {
  display: flex;
  align-items: center;
  color: #999999;
  gap: 5px;
}

.closed {
  opacity: 0.4;
}

.open {
  opacity: 1;
}

.closeNotice {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 16px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: black;
  border-radius: 6px;
}

@media screen and (max-width: 820px) {
  .studyItem {
    padding: 68px 40px 27px 30px;
    width: 356px;
    height: 430px;
  }

  .schedule {
    font-size: 18px;
    gap: 10px;
  }

  .title {
    font-size: 24px;
    min-height: 72px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 15px 0;
  }

  .hashtag {
    font-size: 18px;
    min-height: 23px;
    margin-bottom: 45px;
  }

  .content {
    margin-bottom: 49px;
    display: flex;
    gap: 10px;
    list-style: none;
  }

  .language {
    height: 42px;
  }

  .languageImage {
    width: 42px;
    height: 42px;
  }

  .info {
    font-size: 12px;

    padding-top: 10px;
  }

  .viewsAndComment {
    gap: 10px;
  }

  .infoItem {
    gap: 5px;
  }
}

@media screen and (max-width: 767px) {
  .studyItem {
    width: 100%;
  }
}
