.postWrapper {
  max-width: 1040px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  padding: 60px 16px;
  width: 1024px;
  margin: 0 auto; /* 중앙 정렬 */
  color: #333333;
  gap: 50px;
}

.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.udemy {
  font-weight: 500;
}

.postContentWrapper {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 36px;
  border-bottom: 3px solid #f2f2f2;
}

.text {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  margin: 0;
}

.sequence {
  margin-right: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffcd00;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .postWrapper {
    width: 100%;
  }
}
