.menuWrapper {
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  right: 0px;
}

.menu {
  position: relative;
  z-index: 5;
  width: 12rem;
  background: white;
  border: 0.5px solid rgba(37, 53, 98, 0.1);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 10px;
  list-style: none;
}

.menuItem {
  padding: 0.75rem 1rem;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

.userName {
  padding: 0.75rem 1rem;
  line-height: 1.5;
  font-weight: 500;
  cursor: auto;
}

.menuWrapper a {
  width: 100%;
}

.newPost {
  display: none;
}

@media screen and (max-width: 575px) {
  .newPost {
    display: block;
  }
}
