.imageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.profileContainer {
  display: flex;
  position: relative;
  cursor: pointer;
}

.imageControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}

.userImg {
  display: block;
  height: 150px;
  width: 150px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  object-fit: cover;
}

.profileEditBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}

input[type='file'] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 0;
  height: 0;
}

@media screen and (max-width: 400px) {
  .imageContainer {
    display: flex;
    margin: 0 auto 20px auto;
  }

  .userImg {
    display: block;
    height: 95px;
    width: 95px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    object-fit: cover;
  }

  .profileEditBtn {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
  }
}
