.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}

.languageIcon {
  display: flex;
  gap: 6px;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 6px 12px 6px 7px;
  transition: all 100ms ease-in;
  cursor: pointer;
}

.logo {
  width: 32px;
  height: 32px;
}

.languageName {
  color: #333;
  font-size: 14px;
}

.languageIcon:hover {
  transform: scale(1.05);
}

.full {
  opacity: 1;
  transform: scale(1.02);
}

.transparent {
  opacity: 0.3;
}
