.button {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
  outline: none;
  transition: all 0.125s ease-in 0s;
  color: white;
  background-color: rgb(39, 46, 51);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.loginDescription {
  font-weight: bold;
  font-size: 1rem;
  line-height: 126.5%;
  text-align: center;
  letter-spacing: -0.005em;
  color: #565656;
}
