.app {
  width: 1300px;
  margin: 0 auto;
}

.appWrapper {
  padding-top: 5rem;
  background-color: #f8f9fa;
}

.category {
  display: flex;
  margin-bottom: 2rem;
}

.category__item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.active {
  color: rgb(52, 58, 64);
}

.inactive {
  color: rgb(134, 142, 150);
}

.text {
  margin-left: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.languageBarWrapper {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
}

@media screen and (max-width: 1919px) {
  .app {
    width: 1040px;
  }
}

@media screen and (max-width: 1440px) {
  .app {
    width: 780px;
  }
}

@media screen and (max-width: 1024px) {
  .app {
    width: calc(100% - 2rem);
  }
}
