.app {
  margin: 0 auto;
  width: 1300px;
}

.appWrapper {
  padding-top: 5rem;
  background-color: #f8f9fa;
  min-height: 60rem;
}

.category {
  display: flex;
  margin-bottom: 2rem;
}

.category__item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.active {
  color: black;
}

.inactive {
  color: rgb(134, 142, 150);
}

.text {
  margin-left: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.languagebarBubble {
  width: 270px;
  height: 60px;
  margin-left: 1rem;
  animation: bubbleAnimation 1.2s ease-in-out;
}

.languageSelectBox {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1210px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .selectboxInput {
  width: 2rem;
  border-radius: 4px;
} */

.selectboxInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.selectboxInput + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.selectWrapper {
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}

.selectWrapper input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selectWrapper input[type="checkbox"]:checked + label:after {
  content: "\2714";
  color: white;
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #5f7db7;
}

@keyframes bubbleAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.languageBarWrapper {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
}

@media screen and (max-width: 1919px) {
  .app {
    width: 1040px;
  }
}

@media screen and (max-width: 1440px) {
  .app {
    width: 780px;
  }
}

@media screen and (max-width: 830px) {
  .languageSelectBox {
    margin-top: 5rem;
  }
  .app {
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 575px) {
  .languagebarBubble {
    display: none;
  }

  .languageSelectBox {
    margin-top: 2rem;
    font-size: 1.125rem;
    justify-content: flex-end;
  }

  .selectboxInput + label {
    display: inline-block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
  }

  .selectWrapper input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .selectWrapper input[type="checkbox"]:checked + label:after {
    content: "\2714";
    color: white;
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #5f7db7;
  }
}
