.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.buttons {
  font-size: 16px;
  color: #444444;
}

@media screen and (max-width: 575px) {
  .buttons {
    font-size: 12px;
    padding: 0 5px;
  }
}
