@value registerBackground from '../../common/color.css';

.comment {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.commentCount {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #939393;
}

.commentInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

.commentInput textarea {
  font-family: inherit;
  padding: 1rem 1rem 1.5rem;
  outline: none;
  border: 2px solid #e1e1e1;
  border-radius: 16px;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  resize: none;
}

.commentText {
  font-size: 16px;
}

.commentText::placeholder {
  color: #999999;
  font-size: 16px;
}

.buttonComplete {
  padding: 12px 24px;
  height: 40px;
  background: #333333;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 24px;
}

.inputContainer {
  display: flex;
  gap: 15px;
}

.profile {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

@media screen and (max-width: 575px) {
  .buttonComplete {
    padding: 7px 10px;
    position: absolute;
    width: 90px;
    height: 30px;
    background: #333333;
    border-radius: 40px;
    font-weight: bold;
    color: white;
    font-size: 12px;
  }
}
