.footer {
  height: 180px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}

.leftCover {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footerImg {
  display: block;
  width: 60px;
  height: 15px;
  margin-bottom: 32px;
}

.title {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #777777;
}

.mail {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.2px;
  color: #777777;
}

.contactInfo {
  display: flex;
  gap: 10px;
}

.copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #777777;
}

.rightCover {
  display: flex;
  gap: 50px;
  color: #2f2f2f;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    height: 50px;
  }
  .leftCover {
    display: none;
  }

  .rightCover {
    font-size: 12px;
    gap: 20px;
    margin: 0;
  }
}
