.wrapper {
  width: 960px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 45px 38px;
  background: #fff;
  border-radius: 30px;
  overflow: scroll;
}

.title {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 34px */
  margin-bottom: 24px;
}

.eventInfoSection {
  display: flex;
  gap: 30px;
  height: fit-content;
}

.eventBannerImg {
  display: block;
  width: 558px;
  height: 380px;
}

.eventInfo {
  display: flex;

  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.eventInfoDetail {
  width: 100%;
  padding: 26px 24px;
  border: 1px solid #eee;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.eventApplyContainer {
  width: 100%;
  padding: 16px 24px;
  border: 1px solid #eee;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.evantInfoWrapper {
  display: flex;
  gap: 15px;
}

.eventTitle {
  color: #717171;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 36px */
  width: 34px;
  white-space: nowrap;
}

.eventSubTitle {
  color: var(--color-system-gray-333333, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 36px */
  white-space: pre-line;
}

.introductionTitle {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 126.5%; /* 32.89px */
  margin-top: 24px;
  margin-bottom: 20px;
}

.content {
  border-top: 2px solid #f2f2f2;
  padding-top: 20px;
  font-size: 18px;
  line-height: 135%;
  white-space: pre-line;
}

.warning {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  color: #333;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 40px;
  padding-top: 40px;
}

.content > * {
  font-size: 18px;
  font-weight: normal;
  line-height: 180%;
}

.content img {
  width: 100%;
}

.recommendContentTitle {
  margin-top: 40px;
  color: #333;
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.applyButton {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background: #2fb2f5;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.48px;
}

.badgeContainer {
  display: flex;
  gap: 10px;
}

.badge {
  width: fit-content;
  display: flex;
  padding: 3.5px 10px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 700;
}

.deadline {
  width: fit-content;
  padding: 4px 10px;
  color: #ea726f;
  font-size: 12px;
  letter-spacing: -0.4px;
  border-radius: 20px;
  background-color: #ffe8e8;
  font-weight: 600;
  line-height: normal;
}

.recommendContainer {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}
