.likesAndViewsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
  margin-top: 1rem;
}

.likes {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.views {
  display: flex;
  align-items: center;
}

.itemImg {
  width: 2rem;
  margin-right: 0.25rem;
}

.eyeImg {
  width: 2.65rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
  .likesAndViewsWrapper {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .likesAndViewsWrapper {
    margin-right: 0;
  }
  .itemImg {
    width: 1.5rem;
  }
  .eyeImg {
    width: 2rem;
  }
}
