.container {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 8px;
  top: 0;
  right: 0;
}

.searchImg {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.searchInput {
  width: 200px;
  border: none;
  outline: none;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  animation: reveal 1s;
}

@keyframes reveal {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}
