.main {
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.categoryWrapper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 0 20px;
}

@media screen and (max-width: 1300px) {
  .categoryWrapper {
    width: 1000px;
  }
}

@media screen and (max-width: 980px) {
  .categoryWrapper {
    width: 670px;
  }
}

@media screen and (max-width: 575px) {
  .main {
    margin-top: 60px;
  }

  .categoryWrapper {
    padding: 0 16px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
