.loginWrapper {
  margin-top: 4rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guestLogin {
  width: 15rem;
  height: 2.5rem;
  margin-top: 3rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #4482f7;
  font-weight: bold;
  font-size: 1rem;
  line-height: 126.5%;
  text-align: center;
  letter-spacing: -0.005em;
  color: #4482f7;
}

@media (max-width: 768px) {
  .loginWrapper {
    width: 80%;
  }
}
