.wrapper {
  width: 48rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin: 0 auto;
  padding: 1.5rem;
  padding-bottom: 5rem;
}

.buttonWrapper button {
  font-size: 1rem;
}

.modalComment {
  display: flex;
  flex-direction: column;
  background: white;
}

.languageList {
  display: flex;
}

.languageItem {
  margin-right: 0.5rem;
}

.languageItem img {
  width: 3rem;
  height: 3rem;
}

.languageInfo {
  margin-top: 5rem;
}

.postHeader {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.user {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2rem;
}

.userName {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.userImg {
  cursor: pointer;
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s;
}

.userImg:hover {
  scale: 1.1;
}

.postContentWrapper {
  margin-top: 5rem;
  font-size: 1.125rem;
  word-break: keep-all;
  overflow-wraps: break-word;
  line-height: 1.7;
  letter-spacing: -0.004em;
}

.postContent {
  width: 100%;
  margin: 0 auto;
}

.postComment {
  width: 90%;
  min-height: 800px;
  margin: 0 auto;
}

.logo {
  width: 4rem;
  height: auto;
  display: block;
}

.postContent img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.registeredDate {
  font-weight: 600;
  font-size: 1rem;
  line-height: 126.5%; /* or 19px */
  margin-top: 0.5rem;
  letter-spacing: -0.005em;
  color: #8c8c8c;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  line-height: 126.5%; /* or 48px */
  letter-spacing: -0.005em;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
