.wrapper {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin: 0 auto;
  padding: 1.5rem;
  padding-bottom: 5rem;
}

.buttonWrapper button {
  font-size: 1rem;
}

.commentAndViews {
  display: flex;
  flex-direction: column;
  background: white;
}

.languageList {
  display: flex;
  flex-wrap: wrap;
}

.languageItem {
  margin-right: 0.5rem;
  background: #dce2f0;
  border: 2px solid #dce2f0;
  border-radius: 58px;
  padding: 0.3rem 0.75rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.usedLanguageInfo {
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.usedLanguageWrapper {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #dcdcdc;
  margin-top: 2rem;
}

.postHeader {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.user {
  display: flex;
  align-items: center;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.userName {
  color: #333333;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.userImg {
  cursor: pointer;
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
}

.seperator {
  width: 2px;
  height: 20px;
  background-color: #e2e2e2;
}

.user:hover {
  transform: scale(1.05);
}

.userAndDate {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 3px solid #f2f2f2;
  display: flex;
  gap: 15px;
  align-items: center;
}

.postContentWrapper {
  margin-top: 132px;
  font-size: 1.125rem;
  word-break: break-all;
  line-height: 1.7;
  letter-spacing: -0.004em;
}

.postContent {
  width: 100%;
  margin: 40px auto 0;
}

.logo {
  width: 4rem;
  height: auto;
  display: block;
}

.postContent img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.postContent a {
  color: #2883f3;
}

.registeredDate {
  font-size: 18px;
  color: #717171;
}

.title {
  margin-top: 40px;
  font-weight: 800;
  font-size: 36px;
  line-height: 126.5%; /* or 48px */
  letter-spacing: -0.005em;
  color: #000000;
}

.postInfo {
  margin: 0;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: 3px solid #f2f2f2;
}
