.logo {
  width: 4rem;
  height: auto;
  display: block;
}

.titleWrapper {
  display: flex;
  margin-bottom: 1rem;
}

.titleWrapper input {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  width: 25rem;
  padding: 0px;
}
.titleWrapper h3 {
  margin: 10px 10px 10px 0px;
  width: 130px;
}
