.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
  padding: 2rem 1.5rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 12px 0px;
  animation: modalAnimation 0.5s ease-in-out 0s 1 normal forwards running;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.cancelButton {
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(233, 236, 239);
  color: rgb(73, 80, 87);
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.registerButton {
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #392f31;
  color: white;
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
    top: 0%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}
