.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 350px;
  height: 200px;
  top: 15%;
  left: 30%;

  background-color: white;
  border-radius: 4px;
  padding: 2rem 1.5rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 12px 0px;
  animation: 0.4s ease-in-out 0s 1 normal forwards running hwrkPK;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.cancelButton {
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(233, 236, 239);
  color: rgb(73, 80, 87);
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.registerButton {
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #392f31;
  color: white;
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
}
