.logo {
  width: 60px;
  height: 60px;
  transition: all 100ms ease-in;
  cursor: pointer;
}

.full {
  opacity: 1;
  transform: scale(1.1);
}

.transparent {
  opacity: 0.3;
}

.logo:hover {
  transform: scale(1.1);
}

.item {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

@media screen and (max-width: 575px) {
  .item {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
  .logo {
    width: 40px;
    height: 40px;
    transition: transform 200ms ease-in;
    cursor: pointer;
  }
}
