@value cancelBackground from  '../../common/color.css';
@value cancelFontColor from '../../common/color.css';
@value registerBackground from '../../common/color.css';

.commentContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(233, 236, 239);
}

.commentHeader {
  display: flex;
  justify-content: space-between;
}

.avatarWrapper {
  display: flex;
}

.commentInfo {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
}

.userImg {
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
}

.userNickname {
  font-weight: 600;
}

.registeredDate {
  font-size: 1rem;
  line-height: 126.5%; /* or 19px */
  letter-spacing: -0.005em;
  color: #8c8c8c;
}

.commentInput input {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  width: 40rem;
  height: 3rem;
  padding: 0px;
}

.commentInputButton {
  display: flex;
  flex-direction: row;
}

.commentInputButton button {
  border-radius: 4px;
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
  height: 1.75rem;
  font-size: 1rem;
}

.commentContent {
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.buttonComplete {
  background: registerBackground;
  font-weight: bold;
  color: white;
}

.buttonCancel {
  background: cancelBackground;
}

hr {
  border: 0;
  display: block;
  width: 98%;
  background-color: #808080;
  height: 1px;
}
