@value cancelBackground from  '../../common/color.css';
@value cancelFontColor from '../../common/color.css';
@value registerBackground from '../../common/color.css';

.commentContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #e1e1e1;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.commentInfo {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
}

.userImg {
  display: block;
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.userNickname {
  color: #333333;
  font-weight: 700;
}

.registeredDate {
  font-size: 14px;
  line-height: 126.5%; /* or 19px */
  letter-spacing: -0.005em;
  color: #9f9f9f;
}

.commentInputButton {
  display: flex;
  flex-direction: row;
}

.commentInputButton button {
  border-radius: 4px;
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
  height: 1.75rem;
  font-size: 1rem;
}

.commentContent {
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: break-all;
  overflow-wrap: break-word;
}

.buttonComplete {
  background: registerBackground;
  font-weight: bold;
  color: white;
}

.buttonCancel {
  background: cancelBackground;
}

.modifyInput {
  width: 100%;
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #e1e1e1;
  outline: none;
}

@media screen and (max-width: 575px) {
  .commentContent {
    font-size: 1rem;
  }
}
