.wrapper {
  width: 800px;
  height: 550px;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}

.modalHeader {
  background: #f8f9fa;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalContent {
  background: white;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exitWrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: rgb(134, 142, 150);
}

.blockContent {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

img {
  width: 4rem;
  height: auto;
  display: block;
}

.loginWrapper {
  margin-top: 4rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
