.userWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.userImg {
  display: block;
  height: 32px;
  width: 32px;
  padding-right: 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
}

.menuIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.userWrapper svg {
  fill: rgb(134, 142, 150);
  position: absolute;
  top: 8px;
  right: -4px;
}
