.userWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.userImg {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
}

.userWrapper svg {
  font-size: 1.5rem;
  color: rgb(134, 142, 150);
  transition: all 0.125s ease-in 0s;
  margin-right: -0.4375rem;
}
