@value registerBackground from '../../common/color.css';

.logo {
  width: 4rem;
  height: auto;
  display: block;
}

.inputWrapper {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.nicknameInput {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  width: 20rem;
  height: 3rem;
  padding-left: 1rem;
}

.inputWrapper h3 {
  margin-right: 1rem;
  font-size: 1rem;
}

.title {
  margin-top: 2rem;
  text-align: center;
  animation-duration: 3s;
  animation-name: opacityAnimation;
}

.buttonNext {
  font-weight: bold;
  color: white;
  border-radius: 4px;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.25rem;
  background-color: registerBackground;
}

.titleText {
  animation-duration: 4s;
  animation-name: opacityAnimation;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
