.editorWrapper {
  padding: 5rem 1rem;
  width: 1024px;
  margin: 0 auto; /* 중앙 정렬 */
  background-color: #ffffff;
}

.titleInput {
  font-size: 3rem;
  font-weight: bold;
  outline: none;
  padding-bottom: 0.5rem;
  border: none;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 2rem;
  width: 100%;
}

/* 적용 안할거면 삭제 필요 */

.ql-editor {
  padding: 0;
  min-height: 800px;
  font-size: 5rem;
  line-height: 1.5;
}

edit > .quill_editor {
  height: 600px;
}
.ql-container {
  height: 600px;
}

.ql-editor {
  height: 600px;
}
.ql-editor.ql-blank::before {
  left: 0px;
}

/* 적용 안할거면 삭제 필요 */

@media screen (max-width: 1024px) {
  width: 768px;
}
@media screen (max-width: 768px) {
  width: 100%;
}
