.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.cancelButton {
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(233, 236, 239);
  color: rgb(73, 80, 87);
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.registerButton {
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #392f31;
  color: white;
  border-radius: 4px;
  padding: 0px 1.25rem;
  height: 2rem;
  font-size: 1rem;
}
