@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Bold'), url('../fonts/SpoqaHanSansNeoBold.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeoBold.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeoBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Medium'),
    url('../fonts/SpoqaHanSansNeoMedium.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeoMedium.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeoMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Regular'),
    url('../fonts/SpoqaHanSansNeoRegular.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeoRegular.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeoRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Light'), url('../fonts/SpoqaHanSansNeoLight.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeoLight.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeoLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Thin'), url('../fonts/SpoqaHanSansNeoThin.woff2') format('woff2'),
    url('../fonts/SpoqaHanSansNeoThin.woff') format('woff'),
    url('../fonts/SpoqaHanSansNeoThin.ttf') format('truetype');
}
