name: Auto Deploy after push on main branch

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build, Deploy to S3 bucket
    runs-on: [ubuntu-latest]
    env:
      working-directory: ./client
    strategy:
      matrix:
        node-version: [14.15.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Create env file
        run: |
          touch .env
          echo REACT_APP_GOOGLE_LOGIN_API_KEY=${{ secrets.GOOGLE_API_KEY }} >> .env
          echo REACT_APP_GITHUB_LOGIN_API_KEY=${{ secrets.HUB_API_KEY }} >> .env
          echo REACT_APP_KAKAO_LOGIN_API_KEY=${{ secrets.KAKAO_API_KEY }} >> .env
          cat .env
        working-directory: ${{ env.working-directory }}

      - name: Npm install
        run: npm install
        working-directory: ${{ env.working-directory }}

      - name: Build
        run: CI='' npm run build
        working-directory: ${{ env.working-directory }}

      - name: Transfer to S3 for serving static
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET_NAME }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_IAM_MANAGER_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_IAM_MANAGER_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_BUCKET_REGION }}
          SOURCE_DIR: "client/build"
